#cases{
    margin: 40px,0,40px,0;
    width: 100%;
}
h2::after{content: url("images/line.png");}
ul{
    display: flex;
    list-style: none;
}
li{
    width: 33%;
    margin: 20px 20px 20px 20px;
    
}
.case-card{
    background-color: #ffffff;
    min-width: 400px;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.2);  
}
.case-img{
    width: 100%;
}
.case-info{
    padding: 10px,20px,10px,20px;
}
.case-name{
    color: #2710d5;
    font-size: 19px;
}
.case-content{
    font-size: 14px;
}
