
body{ font-family: "Arial", "Meiryo", sans-serif;
       font-size: 20px; 
       text-align: center;
      }
.heading1 {
    color:  rgb(255, 192, 203) 
  }
  .heading2 {
    color: skyblue}
       
 .decoretion{
        border-bottom: solid 3px rgb(115, 115, 114) ;
        text-shadow: 1px 1px 2px gray;
        letter-spacing: 1.2em; 
        font-size:2em;
      font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }

        .google-fonts 
          /* ここにGoogle Fontsを指定します */
        .ff_Josefin {
          /* ここにGoogle Fontsを指定します */
          font-family: "Josefin Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
          font-size:2em;
        }
        
        .parent>p {font-weight: bold;
        }


         .text-bold1 {
            color: skyblue;}
        .text-bold2{color: rgb(255, 192, 203)  ;}
    .text-shadow: 1px 1px 2px gray;
    
            
