
header{
  margin-bottom: 20px;
  background-color:  rgb(244, 79, 79);
  text-align: center;
}
h1{
  color: rgb(255, 255, 255);}

main{
  margin: 10px,10px,10px,10px;
  }



.content p:nth-child(3)::first-letter {
    color:rgb(97, 206, 249);
    font-weight: bold;
}


h2{
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
}
h2::before {
  content: "●";
  color: rgb(239, 111, 139);
}

.footer{
  background-color: rgb(244, 79, 79);
  text-align: center;
}
a:link{
  color: rgb(255, 255, 255);
}
a:visited{color:rgb(193, 234, 251);
}
a:hover{
  color: rgb(245, 178, 168);
}
  
/*---------------------------------------- */
/* PC */
/*---------------------------------------- */
@media screen and (min-width: 769px){
  #parent{
    display:flex;
    justify-content: space-around;
    }
  .content{
      border: 3px solid rgb(238, 204, 204);
      flex-basis:25%;
      padding: 10px 15px;
      margin: 20px 0 ;

      text-align: center;
    }
    img{
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0px;
      margin-right: 0px;
      width: 70%;
    }

}

/*---------------------------------------- */
/* スマートフォン */
/*---------------------------------------- */
@media screen and (max-width: 768px){
  div {
    display: block;}
h2{font-size: 30px;
}
.content p{font-size: 25px;}
main{
  padding: 10px;
}
}


   
   
